*{margin:0%;padding:0%;box-sizing: border-box;}ul{list-style: none;}a{text-decoration: none;color:rgb(211, 209, 209);}body{background-color: #ccc;}
body,html{font-family:Arial, Helvetica, sans-serif; height:100%;min-width:303px;}
.header{
    width:100%;
    display:flex;
    align-items: center;
    padding: 20px 10px;
    position: relative;
    background-color: #355cbd;
}
.sec-title{
    color:#fff;
}
.container{
    width:100%;
    background-image: url(../_imagens/1.jpg);
    height:100%;
    width:100%;
    object-fit: cover;
    background-size:cover;
}
.info{
    background-color:rgba(0, 0, 0, 0.856);
    width:100%;
    height:100%;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
}
.info h1{
    color:#355cbd;
    padding:10px 0px;
    font-size: 2.2em;
}
.sec-p{
    width:50%;
    line-height: 20px;
    padding: 10px 5px;
    margin:10px 0px
}
.sec-p p{
    font-size:1.0em;
}
form{
    margin:20px 0px 0px 0px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
form input{
    padding:15px 5px;
    width:400px;
    margin-right:15px;
    margin-bottom:15px;
    outline: none;
}
.sec-btn button{
    padding:10px 15px;
    outline: none;
    background-color: orange;
    color:#fff;
    border:1px solid black;
}
/* pacotes */
.div-text{
    margin:15px 0px;
    padding: 15px 0px;
    text-align: center;
    color:#032068;
    font-size: 1.5em;
}
.container-pacotes{
    width:100%;
    padding: 10px 15px;
}
.parent{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.parent .sec-pack{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
    width:300px;
    height:400px;
    background-color: #fff;
    border:1px solid rgba(0, 0, 0, 0.479);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    text-align: center;
    margin:10px 10px;
}
h2{
    margin-bottom:15px;
    color:#032068;
    font-size: 1.3em;
}
.sec-pack .sec-ul li{
    font-size: 1.1em;
    margin-bottom: 5px;
    color:#141414;
}
.sec-pack .sec-ul .li-check i{
    font-size: 1.1em;
    color:green;
    margin-left: 10px;
}
.sec-pack .sec-ul .li-times i{
    font-size: 1.1em;
    color:red;
    margin-left: 10px;
}
.sec-pack .sec-valor{
    padding: 15px 0px;
}
.sec-pack .sec-valor p{
    font-size: 2.0em;
    color: rgb(31, 197, 31);
}
.sec-pack .sec-btn button{
    padding: 15px 0px;
    width:80%;
    background-color: orange;
    border: 1px solid white;
    color:#fff;
}
.sec-pack .sec-btn button:hover{
    background-color: rgb(231, 151, 2);
}
.div-footer{
    padding: 10px 0px;
    text-align: center;
    background-color: #355cbd;
    color:#fff;
}
.sec-btn-back{
    text-align: center;
    padding:20px 0px;
}
.sec-btn-back button{
    background-color: red;
    padding: 15px 40px;
    border:1px solid white;
    color:white;
}
.container-page{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px 5px;
    flex-direction: column;
}
.container-page form{
    display:flex;
    flex-direction: center;
    width:40%;
    flex-direction: column;
    padding: 10px 0px;
}
.container-page form input{width:100%; margin-bottom:30px;}
.container-page form button{
    width:100%;
    padding:15px 0px;
    background-color: green;
    border:1px solid green;
    color:white;
}
.cont-process{
    height:90vh;
}
.sec-process h2.true{
    color:green;
}
.sec-process h2.false{
    color:red;
}
.valor_false{
    position: relative;
    bottom:20px;
}